<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">

  <img src="<%= @sponsor.logo %>" class="sponsorLogo" height="100" alt="Logo" />
    <p class="sponsorName"><%= @sponsor.name %></p>

    <p class="sponsorAddress"><%= @sponsor.address_street %><br>
    <%= @sponsor.address_city %>, <%= @sponsor.address_state %> <%= @sponsor.address_zipcode %></p>
    <p class="sponsorPhone"><%= toPhone(@sponsor.phone_number) %></p>
    <p class="sponsorWebsite"><a href="http://<%= @sponsor.website %>" target="_blank"><%= @sponsor.website %></a></p>
    <div class="sponsorSynopsis"><%= markdown_to_html @sponsor.synopsis %></div>
      <%= link_to "Modify your Sponsor Page", edit_sponsor_path, class: 'btn btn-success' %>
  </div>
</div>
